/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #282c34;
    padding-bottom: 5px;
    color: #282c34;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    text-align: center;
}
